*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html,body {
    height:100%;
}
.main-content
{
    /* border: 10px solid green; */
    height: 100%;

}


.nav
{
    padding: 10px;
    position: fixed;
    top: 0;
    overflow: hidden;
    /* display: flex;
    justify-content:baseline; */
    width: 100%;
    height: 50px;
    background-color: black;
}
ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    list-style-type: none;

    
}
li
{
    display: block;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    height: 40px;
    width: 100px;
    /* border: 1px solid white; */
}
li.active 
{
    border-bottom: 5px solid red;
}
.content
{
    padding-top: 50px ;
    /* border: 5px solid rgb(251, 255, 0); */
    height: 100%;

}
.main-home
{
    height: 100%;
}
.home-cont
{
    height: 100%;
     display: flex;
    /* border: 2px solid red; */

}
.home-1
{
    height: 100%;
    width: 60%;
    border: 1px solid black;
}
.home-2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border: 1px solid black;
    padding: 20px;

}
.heading
{
    font-size: 40px;
    text-align: center;
    padding: 30px;
}
.sub-heading
{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 800;
}
.sub-content
{
    display: none;
}
.sub-content.active
{
    display: block;
}
